<div class="space-y-2">
  <label class="block text-sm font-medium text-gray-700">
    {{ label }}
  </label>

 <label
  for="fileUpload"
  class="flex flex-col items-center justify-center w-full h-48 border-2 border-dashed rounded cursor-pointer text-gray-500 bg-white hover:bg-gray-50 transition"
>
  <span class="text-sm">📁 Glisser-déposer ou cliquez pour importer</span>
  <span class="text-xs text-gray-400 mt-2">PNG, JPG, WebP (max 5MB)</span>
  <input
    id="fileUpload"
    type="file"
    accept="image/*"
    (change)="onFileChange($event)"
    class="hidden"
  />
</label>

  <div *ngIf="imageChangedEvent">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="aspectRatio"
      [resizeToWidth]="800"
      format="png"
      (imageCropped)="imageCropped($event)"
      class="mt-2"
    ></image-cropper>
  </div>

  <div *ngIf="croppedImage" class="mt-4">
    <p class="text-sm text-gray-500 mb-2">Aperçu :</p>
    <img [src]="croppedImage" alt="Image recadrée" class="rounded shadow max-w-full h-auto">
  </div>
</div>
